.start-screen {
    font-family: Helvetica;
}

button {
    margin: 10px auto;
    background-color: rgb(147, 203, 255);
    border-radius: 30px;
    padding: 10px;
    min-width: 100px;
    min-height: 35px;
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
    color: white;
    border: hidden;
    
}

button:active {
    margin: 10px auto;
    background-color: rgb(101, 157, 209);
    border-radius: 30px;
    padding: 10px;
    min-width: 100px;
    min-height: 35px;
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
    color: white;
    border: hidden;
}

.button-pressed {
    margin: 10px auto;
    background-color: rgb(101, 157, 209);
    border-radius: 30px;
    padding: 10px;
    min-width: 100px;
    min-height: 35px;
    font-size: 15px;
    font-family: Arial;
    font-weight: bold;
    color: white;
    border: hidden;
}

input {
    margin: 8px;
    min-height: 30px;
    min-width: 250px;
    height: 30px;
    padding: 8px;
    border-radius: 30px;
    border: hidden;
}

.bg {
    background-color: rgb(159, 175, 243);
    margin: 20px;
    padding: 50px;
    border-radius: 50px;
}

p3 {
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 35px;
}